@font-face{
font-family: 'Hind', sans-serif;
font-weight: bold;
src: '../../assets/font/Hind/Hind-Bold.ttf';
font-style: normal;
}
@font-face{
  font-family: 'Hind', sans-serif;
  font-weight: light;
  src: '../../assets/font/Hind/Hind-Light.ttf';
  font-style: normal;
  }
@font-face{
    font-family: 'Hind', sans-serif;
    font-weight: medium;
    src: '../../assets/font/Hind/Hind-Medium.ttf';
    font-style: normal;
    }
    @font-face{
      font-family: 'Hind', sans-serif;
      font-weight: regular;
      src: '../../assets/font/Hind/Hind-Regular.ttf';
      font-style: normal;
      }
      @font-face{
        font-family: 'Hind', sans-serif;
        font-weight: semi-bold;
        src: '../../assets/font/Hind/Hind-SemiBold.ttf';
        font-style: normal;
        }
        @font-face{
          font-family: 'Hind', sans-serif;
          font-weight: bold;
          src: '../../assets/font/Hind/Hind-Bold.ttf';
          font-style: normal;
          }
          @font-face{
            font-family: 'Hind', sans-serif;
            font-weight: light;
            src: '../../assets/font/Hind/Hind-Light.ttf';
            font-style: normal;
            }
            @font-face{
              font-family: 'Hind', sans-serif;
              font-weight: medium;
              src: '../../assets/font/Hind/Hind-Medium.ttf';
              font-style: normal;
              }
              @font-face{
                font-family: 'Hind', sans-serif;
                font-weight: regular;
                src: '../../assets/font/Hind/Hind-Regular.ttf';
                font-style: normal;
                }
                @font-face{
                  font-family: 'Hind', sans-serif;
                  font-weight: semi-bold;
                  src: '../../assets/font/Hind/Hind-SemiBold.ttf';
                  font-style: normal;
                  }


@font-face {
  font-family: 'Hind', sans-serif;
  src: url('../../assets/font/Hind/woff/hind-bold-webfont.woff2') format('woff2'),
       url('../../assets/font/Hind/woff/hind-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: 'Hind', sans-serif;
  src: url('../../assets/font/Hind/woff/hind-light-webfont.woff2') format('woff2'),
       url('../../assets/font/Hind/woff/hind-light-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;

}
@font-face {
  font-family: 'Hind', sans-serif;
  src: url('../../assets/font/Hind/woff/hind-medium-webfont.woff2') format('woff2'),
       url('../../assets/font/Hind/woff/hind-medium-webfont.woff') format('woff');
  font-weight: medium;
  font-style: normal;

}
@font-face {
  font-family: 'Hind', sans-serif;
  src: url('../../assets/font/Hind/woff/hind-regular-webfont.woff2') format('woff2'),
       url('../../assets/font/Hind/woff/hind-regular-webfont.woff') format('woff');
  font-weight: regular;
  font-style: normal;

}
@font-face {
  font-family: 'Hind', sans-serif;;
  src: url('../../assets/font/Hind/woff/hind-semibold-webfont.woff2') format('woff2'),
       url('../../assets/font/Hind/woff/hind-semibold-webfont.woff') format('woff');
  font-weight: semi-bold;
  font-style: normal;

}