$font-main: 'Hind', sans-serif;
$dark: #373737;
$white: #f4f4f4;
$lighter:hsl(0, 0%, 90%);
$light: #dcd0c0;
$medium:hsl(218, 19%, 38%);
$primary: #c0b283;
$secondary:#dcd0c0;
$error: hsl(358, 77%, 19%);
$warning: hsl(42, 100%, 50%);
$darkText: #373737;
$lightText:#dcd0c0;